@using System.Dynamic;
@using asc_general.Models;
@model dynamic

@{ 


    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section cizgiCss{
    <link rel="stylesheet" href="~/Public/css/cizgi.css">

}


 <!--wrapper starts-->
<div class="wrapper">


    <!--cizgi content starts-->
    <div class="kidsbg">
        <div class="container">
            <h2 class="dt-sc-hr-green-title dark-purple text-center marginTop25">Cizgi Filmlər</h2>
          
            <ul id="hexGrid">

@foreach (cartoon ctoon in Model.cartoon)
{
                <li class="hex">
                    <div class="hexIn">                        
                        <a class="hexLink" href="@Url.Action("index","cartoon_blog",new { id =ctoon.id })">                            
                            <img src="~/Uploads/@ctoon.photo" alt="" />
                            <h1>@ctoon.title</h1>
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
}
            </ul>
                <div class="dt-sc-hr-small"></div>

        </div>
    </div>
    <!--cizgi content ends-->

</div>
<!--wrapper ends-->
<a href="#" title="Go to Top" class="back-to-top">To Top ↑</a>
<!--Java Scripts-->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-migrate.min.js"></script>


<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/jquery-easing-1.3.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="js/jquery.inview.js"></script>
<script type="text/javascript" src="js/validation.js"></script>
<script type="text/javascript" src="js/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/twitter/jquery.tweet.min.js"></script>
<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="js/shortcodes.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<!-- Layer Slider -->
<script type="text/javascript" src="js/jquery-transit-modified.js"></script>
<script type="text/javascript" src="js/layerslider.kreaturamedia.jquery.js"></script>
<script type='text/javascript' src="js/greensock.js"></script>
<script type='text/javascript' src="js/layerslider.transitions.js"></script>
<!--<script type="text/javascript">var lsjQuery = jQuery;</script>-->
<script type="text/javascript">
        var lsjQuery = jQuery;
</script>
<script type="text/javascript">
        lsjQuery(document).ready(function () { if (typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_1', 'jquery'); } else { lsjQuery("#layerslider_4").layerSlider({ responsiveUnder: 1170, layersContainer: 1170, skinsPath: 'js/layerslider/skins/' }) } });
</script>







