
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_adminlayout.cshtml";
}

<div class="col-md-6">
    <h2>rrrrrrrrrrrrrrrrrrrrrrrrr rrrrrrrrrrrrrrrrrrrrrrrrrrr</h2>

</div>
<div class="col-md-6">
    <h2>rrrrrrrrrrrrrrr</h2>

</div>

